.git
.github
.idea
.env.local
.env.*.local
node_modules
vendor
public/build
var
cypress/screenshots
cypress/videos
cypress/downloads
tests
phpunit.dist.xml
phpstan.neon.dist
.php-cs-fixer.php
Dockerfile
docker-compose*.yml
README.md
