parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    reportUnmatchedIgnoredErrors: false
